<div class="mat-app-background basic-container">
  <h2>Tasks</h2>

  <div class="task-add">
    <a routerLink="/tasks/add" routerLinkActive="active" ariaCurrentWhenActive="page">Create Task</a>
  </div>

  <table mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/tasks', element.id]">
          &nbsp;{{element.id}}&nbsp;
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- CategoryID Column -->
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef> Category Name </th>
      <td mat-cell *matCellDef="let element"> {{element.category_name}} </td>
    </ng-container>

    <!-- Start work button Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button
          [color]="element.is_current ? 'warn' : 'primary'"
          style="margin:4px"
          (click)="element.is_current ? stopWork() : startWork(element.id)"
        >
          <mat-icon>{{ element.is_current ? 'stop' : 'play_arrow' }}</mat-icon>
          {{ element.is_current ? 'Stop' : 'Start' }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="mat-app-background basic-container">
  <button mat-flat-button color="warn" [disabled]="!hasActiveTask" (click)="stopWork()">Stop work</button>
</div>
