<div class="mat-app-background basic-container">
  <h1>Category #{{ category?.id }}</h1>
  <form class="category-form" #categoryForm=ngForm (ngSubmit)="onSubmit(categoryForm)">
    <mat-form-field class="category-full-width" [ngClass]="{'invisible' : category == null}">
      <mat-label for="id">ID:</mat-label>
      <input
        matInput id="id"
        name="id"
        [(ngModel)]="category && category.id"
        placeholder="id"
        [readonly]="true"
      >
    </mat-form-field>
    <mat-form-field class="category-full-width">
      <mat-label for="name">Name:</mat-label>
      <input matInput id="name" name="name" [(ngModel)]="category && category.name" placeholder="name">
    </mat-form-field>
    <mat-form-field class="category-full-width">
      <mat-label for="description">Description:</mat-label>
      <textarea matInput id="description" name="description" [(ngModel)]="category && category.description" placeholder="name"></textarea>
    </mat-form-field>
     <mat-card-actions>
       <button mat-raised-button type="submit" color="primary">Save</button>
     </mat-card-actions>
  </form>
</div>
