mat-form-field {
  margin-right: 12px;
}

.basic-container {
  padding: 30px;
}
.task-form {
  min-width: 150px;
  width: 100%;
}

.task-full-width {
  width: 100%;
}
.task-is-archived-container {
  margin: 0 0 16px 8px;
}

/* Hide mat-form-field */
.invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

/* For spinner in categories select */
.option-loading-container {
  display: flex;
  align-items: center;
}

.option-loading-container > span {
  flex: 1;
}
