<div class="mat-app-background basic-container">
  <h2>Task #{{ task?.id }}</h2>

  <form class="task-form" #taskForm=ngForm (ngSubmit)="onSubmit(taskForm)">
    <mat-form-field class="task-full-width" [ngClass]="{'invisible': task == null}">
      <mat-label>ID:</mat-label>
      <input
        matInput
        id="id"
        name="id"
        [(ngModel)]="task && task.id"
        placeholder="id"
        [readonly]="true"
      >
    </mat-form-field>
    <mat-form-field class="task-full-width">
      <mat-label>Name:</mat-label>
      <input
        matInput
        id="name"
        name="name"
        [(ngModel)]="task && task.name"
        placeholder="name"
      >
    </mat-form-field>
    <mat-form-field class="task-full-width">
      <mat-label>Category:</mat-label>
      <mat-select
        id="category_id"
        name="category_id"
        [(ngModel)]="task && task.category.id"
        (click)="getCategories($event)"
      >
        <mat-option class="option-loading" *ngIf="categories === null" disabled>
          <div class="option-loading-container">
            <span>Loading...</span>
            <mat-spinner class="spinner" diameter="20"></mat-spinner>
          </div>
        </mat-option>
        <mat-option *ngIf="categories !== null && !categories.length" disabled>
          <div class="container">
            <span>No categories have been created yet.</span>
          </div>
        </mat-option>
        <mat-option *ngFor="let cat of categories" [value]="cat.id">
          {{cat.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="task-is-archived-container" [ngClass]="{'invisible': task == null}">
      <mat-checkbox
        id="is_archived"
        name="is_archived"
        [(ngModel)]="task && task.is_archived"
      >Is archived</mat-checkbox>
    </div>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" id="task-submit">Save</button>
    </mat-card-actions>
  </form>
</div>
