<mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 1000; display: flex; align-items: center; justify-content: space-between;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Заголовок остается слева -->
    <h1 style="margin-left: 16px; margin: 0;">
      <a routerLink="/" style="text-decoration: none; color: inherit;">Simple Timesheets</a>
    </h1>
  </div>

  <!-- Таймер по центру всего заголовка -->
  <div style="position: absolute; left: 50%; transform: translateX(-50%);">
    <app-today-counter></app-today-counter>
  </div>

  <!-- Иконка справа -->
  <mat-icon class="logo">event</mat-icon>
</mat-toolbar>

<mat-sidenav-container style="height: 100vh;">
  <mat-sidenav #sidenav mode="side" opened>
    <nav>
      <ul>
        <li>
          <h2><a routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categories</a></h2>
        </li>
        <li>
          <h2><a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Tasks</a></h2>
        </li>
        <li>
          <h2><a routerLink="/work-items" routerLinkActive="active" ariaCurrentWhenActive="page">Work items</a></h2>
        </li>
        <li>
          <h2><a routerLink="/work" routerLinkActive="active" ariaCurrentWhenActive="page">Work report</a></h2>
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
