<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>welcome to {{ title }}!</h1>
</div>

<nav>
  <ul>
    <li>
      <h2><a routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categories</a></h2>
    </li>
    <li>
      <h2><a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Tasks</a></h2>
    </li>
    <li>
      <h2><a routerLink="/work" routerLinkActive="active" ariaCurrentWhenActive="page">Work report</a></h2>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
