a {
  text-decoration: none;
}

table {
  width: 100%;
  margin-bottom: 16px;
}

td {
  min-width: 24px;
}

mat-form-field {
  margin-bottom: 16px;
}

.basic-container {
  padding: 30px;
}

.txt-right {
  text-align: right;
}

