h1 {
  margin-block-start: 0;
  font-size: 24px;
}

.basic-container {
  padding: 30px;
}

.button-container {
  display: flex;
  gap: 8px; /* Set the required gap between buttons */
}

.work-item-list-actions {
  display: flex;
}

.work-item-add {
  flex: 1;
  margin-top: 8px;
  margin-bottom: 16px;
}
