h1 {
  margin-block-start: 0;
  font-size: 24px;
}

mat-form-field {
  margin-right: 12px;
}

.basic-container {
  padding: 30px;
}

.work-item-form {
  min-width: 150px;
  width: 100%;
}

.work-item-full-width {
  width: 100%;
}

/* Hide mat-form-field */
.invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}
