/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* FIXME: these styles aren't applies to snackbar panelClass as expected */
.blue-snackbar {
  background: #673ab7;
}
.success-snackbar {
  background-color: #8bc34a;
}
.error-snackbar {
  background: #f44336;
}
/* FIXME: this style is for the category select field in TaskFormComponent */
.mdc-list-item__primary-text {
  width: 100%;
}
